doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie-edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Movies&#33;
    link(rel='stylesheet', href='css/main.css')
  body
    .onLoggedOut
      h1 Login
      form
        input(type="email", placeholder="email", required)
        input(type="password", placeholder="password", required)
        input.doRegister.btn.btn-default.btn-xs(type="button", value="Register")
        input.btn.btn-default.btn-xs(type="submit", value="Login")
        input.doResetPassword(type="button", value="Reset Password")
    .onTempPassword.hidden
      h1 Change Password
      form
        input(type="password", placeholder="Current Password")
        input(type="password", placeholder="New Password")
        input(type="submit", value="Change Password")
    .onLoggedIn
      h1 Welcome to Your Movies&#33;
      form
        input.doLogout.btn.btn-default.btn-xs(type="button", value="Logout")
        input.goToMovies.btn.btn-default.btn-xs(type="button", value="Go to your movies")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://cdn.firebase.com/js/client/2.2.4/firebase.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js')
    script(src='js/main.js')
//    script(src='js/myfirebase.js')
